<% include layout/header %>
    <!-- Left Panel -->
    <% include layout/menu %>
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <% include layout/navbar %>
                <!-- Content -->
                <div class="content">
                    Customer
                </div>
                <!-- /.content -->
                <div class="clearfix"></div>
                <% include layout/footer %>